<p id="notice"><%= notice %></p>

<p>
  <strong>Is join:</strong>
  <%= @invite.is_join %>
</p>

<p>
  <strong>Order:</strong>
  <%= @invite.order %>
</p>

<p>
  <strong>User:</strong>
  <%= @invite.user %>
</p>

<p>
  <strong>Status user:</strong>
  <%= @invite.status_user %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
