<p id="notice"><%= notice %></p>

<p>
  <strong>Join:</strong>
  <%= @invite.is_joined %>
</p>

<p>
  <strong>Order:</strong>
  <%= @invite.order_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @invite.user_id %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
