<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Order</th>
      <th>Invited</th>
      <th>Joined</th>
      <th>Restaurant</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order %>order</td>
          <% x = 0%>

          <% Invite.all.each do |invite| %>
            <% if order.user_id = invite.user_id%>
              <% x = x+1 %>
            <%end%>
          <%end%>
        <td><%= x %> invited</td>
          <% y = 0%>

          <% Invite.all.each do |invite| %>
              <% if order.user_id = invite.user_id and invite.is_joined == true%>
                <% y = y+1 %>
              <%end%>
          <%end%>
        <td><%= y %> joined</td>
        <td><%= order.place %></td>
        <% User.all.each do |user| %>
          <% if user.id == order.user_id %>
            <td><%= user.username %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'view', amount_orders_path %></td>

        <td><%= link_to 'finish', order %></td>
        <td><%= link_to 'cancel', order, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
