<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table table-striped">

<table class="table table-bordered table-condensed table-hover">
  <thead>

  
    <tr>
      <th>Order</th>
      <th>Place</th>
      <th>Link_Image</th>
      <th>invited</th>
      <th>Join</th>
      <th>Status</th>

      <th colspan="3"></th>
      <th>Invited</th>
      <th>Joined</th>
      <th>Restaurant</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="col-md-3" ><%= order.order %></td>
        <td class="col-md-3"><%= order.place %></td>
        <td class="col-md-3"><%= order.Image %></td>
        <% @nums=Invite.where(order_id: order.id).count %>
        <% @joins=Invite.where(order_id: order.id,status_user: true).count %> 



        <td class="col-md-3"><%= @nums %></td>
        <td class="col-md-3"><%= @joins %></td>

         


        <td class="col-md-1"><%= link_to 'View', order, class: 'btn btn-primary' %></td>
        <td class="col-md-1"><%= link_to 'Finish', edit_order_path(order),class: 'btn btn-info' %></td>
        <td class="col-md-1"><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger'%></td>
        <td><%= order.order %>order</td>
          <% x = 0%>

          <% Invite.all.each do |invite| %>
            <% if order.user_id = invite.user_id%>
              <% x = x+1 %>
            <%end%>
          <%end%>
        <td><%= x %> invited</td>
          <% y = 0%>

          <% Invite.all.each do |invite| %>
              <% if order.user_id = invite.user_id and invite.is_joined == true%>
                <% y = y+1 %>
              <%end%>
          <%end%>
        <td><%= y %> joined</td>
        <td><%= order.place %></td>
        <% User.all.each do |user| %>
          <% if user.id == order.user_id %>
            <td><%= user.username %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'view', amount_orders_path %></td>

        <td><%= link_to 'finish', order %></td>
        <td><%= link_to 'cancel', order, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
