<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.order %>
</p>

<p>
  <strong>Place:</strong>
  <%= @order.place %>
</p>

<p>
  <strong>Image:</strong>
  <%= @order.Image %>
</p>

<%= hidden_field_tag :'order_id' ,@order.id %>



  <%= form_for(@invite) do |f| %>
  
  <div class="field">
    <%= f.label :'Add email your friends' %><br>
     <%= f.text_field :'email' %>
      <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>

    </div>

     <div class="field">
    <%= f.hidden_field :order_id, value: order_id %>

  </div>


   
    

  </div>
  
  
  <div class="actions">
    <%= f.submit "Add"%>
  </div>
<% end %>
<br/>










<script type="text/javascript">

    var dispatcher = new WebSocketRails('ws//:localhost:3000'); 
    
    dispatcher.on_open = function(data) {  
        console.log('Connection has been established: ', data);
}  
</script>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
